# Symfony directories
bin/
vendor/
app/bootstrap.php.cache
app/cache/*
app/logs/*
web/uploads/*
app/phpunit.xml
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php
/web/bundles/
/web/volatility.png
/web/volatility.txt

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

# Composer
composer.phar

# PhpStorm
.idea/

# Node and Bower modules
node_modules/
bower_components/

# JS and CSS compiled files
web/assets/*

# PhpUnit
/phpunit.xml
