{% extends 'OptionBundle::layout.html.twig' %}

{% block body %}

    {% for futures in futuresList %}
        <div><a href="options/{{ futures }}">{{ futures }}</a></div>
    {% endfor %}

{% endblock body %}
