{% extends 'OptionBundle::layout.html.twig' %}

{% block body %}

<div><a href="{{ path('option_options_index') }}">Список контрактов</a></div>
<div><a href="{{ path('option_trades_listtrades') }}">Мониторинг сделок</a></div>

{% endblock body %}
