{% extends 'OptionBundle::layout.html.twig' %}

{% block body %}
    {% if options|default %}
        {% for option in options %}
            <div>
                <span style="display: inline-block; width: 25px;">{{ option.type }}</span>
                <span style="display: inline-block; width: 40px;">{{ option.strike }}</span>
                {% for optionPrice in option.prices %}
                    {{ optionPrice.futuresPrice }} -
                    {{ optionPrice.optionPrice }} |
                {% endfor %}
            </div>
        {% endfor %}
    {% else %}
        <div>No options was found.</div>
    {% endif %}
{% endblock body %}
