{% extends 'OptionBundle::layout.html.twig' %}

{% block body %}
    {% if options|default %}
        {% for option in options %}
            <div>
                {{ option.type }}
                {{ option.strike }}
            </div>
        {% endfor %}
    {% else %}
        <div>No options was found.</div>
    {% endif %}
{% endblock body %}
