<html>
<head>
    {% block head %}
        <title>
            {% block root_title %}
                Option Table Trading Charts {% block title %}{% endblock title %}
            {% endblock root_title %}
        </title>
    {% endblock head %}
</head>
<body>
{% block body %}
{% endblock body %}
</body>
</html>
