<html>
<head>
    {% block head %}
        <title>
            {% block root_title %}
                Option Table Trading Charts {% block title %}{% endblock title %}
            {% endblock root_title %}
        </title>
        <link rel="icon" type="image/png" href="/images/favicon.png">

        <style>
            td {
                padding: 5px;
            }

            .right-menu {
                top: 20px;
                right: 30px;
                position: absolute;
            }

            .right-menu a {
                display: block;
                margin-bottom: 5px;
                margin-top: 5px;
            }

            .option-type {
                display: inline-block;
                width: 25px;
                padding: 10px;
            }

            .option-strike {
                display: inline-block;
                width: 40px;
                font-weight: bold;
                padding: 10px;
            }

            .green {
                color: green;
            }

            .red {
                color: red;
            }

            .bg-red {
                background: #FF9F9F;
            }

            .bg-green {
                background: #87E687;
            }

            .center {
                text-align: center;
            }

            .bold {
                font-weight: 600;
            }

        </style>
    {% endblock head %}
</head>
<body>
{% block body %}
    <div class="right-menu">
        {% block right_menu %}
            <a href="{{ path('option_trades_list') }}">Мониторинг сделок</a>
            <a href="{{ path('option_options_list') }}">Список контрактов</a>
        {% endblock right_menu %}
    </div>

    {% block content %}{% endblock content %}
{% endblock body %}
</body>
</html>
